{{>_header}}
<div class="container-sm">
    <h1>Login</h1>
    <div class="jumbotron">
        <form class="form" method="POST" action="/login">
            <div class="form-group">
                <label for="username">username:</label>
                <input class="form-control" type="text" name="username"/>
            </div>
            <div class="form-group">
                <label for="password">password:</label>
                <input class="form-control" type="password" name="password"/>
            </div>
            {{#hasError}}<p class="alert alert-danger">{{ error }}</p>{{/hasError}}
            <input class="btn btn-lg btn-primary" type="submit" value="Log in"/>
        </form>
    </div>
</div>
{{>_footer}}